// Mixins Here

.Dflex(){
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.custom-button(){
    color: white;
    width: 30%;
    background-color: @btn-bg-color;
    padding: 2% 0;
    text-align: center;

    &:hover {
        background-color: white;
        color: @btn-bg-color;
        border: 1px solid black;
    }

    @media @phone {
        width: 100%;
        padding: 25px 0;
        font-size: 2rem;

        &:hover {
            background-color: white;
            color: @btn-bg-color;
            border: 1px solid black;
        }
    }
}

.custom-button2(@radius, @size){
    font-size: @size;
    border-radius: @radius;
}
